<!-- Finally, the node type is registered along with all of its properties   -->
<!-- The example below shows a small subset of the properties that can be set-->
<script type="text/javascript">
    RED.nodes.registerType('logger', {
        category: 'Application',
        defaults: {    
            name: {value:"logger"},
            loglevel: {value:"INFO", required: true},
            payload: {value:"", validate: RED.validators.typedInput("payloadType")},
            payloadType: {value:"date"},
            console : {value:false},
            debug : {value:true},
            tracking : {value:''}
        },
        inputs:1,               // set the number of inputs - only 0 or 1
        outputs:0,              // set the number of outputs - 0 to n
        outputLabels: function(index) {
            var lab = this.payloadType;
            if (lab === "json") {
                try {
                    lab = typeof JSON.parse(this.payload);
                    if (lab === "object") {
                        if (Array.isArray(JSON.parse(this.payload))) { lab = "Array"; }
                    }
                } catch(e) {
                    return this._("inject.label.invalid"); }
            }
            var name = "inject.label."+lab;
            var label = this._(name);
            if (name !== label) {
                return label;
            }
            return lab;
        },
        label: function() {
            var suffix = "";
            // if fire once then add small indication
            if (this.once) {
                suffix = " ¹";
            }
            // but replace with repeat one if set to repeat
            if ((this.repeat && this.repeat != 0) || this.crontab) {
                suffix = " ↻";
            }
            if (this.name) {
                return this.name+suffix;
            } else if (this.payloadType === "string" ||
                    this.payloadType === "str" ||
                    this.payloadType === "num" ||
                    this.payloadType === "bool" ||
                    this.payloadType === "json") {
                if ((this.topic !== "") && ((this.topic.length + this.payload.length) <= 32)) {
                    return this.topic + ":" + this.payload+suffix;
                } else if (this.payload.length > 0 && this.payload.length < 24) {
                    return this.payload+suffix;
                } else {
                    return this._("inject.inject")+suffix;
                }
            } else if (this.payloadType === 'date') {
                if ((this.topic !== "") && (this.topic.length <= 16)) {
                    return this.topic + ":" + this._("inject.timestamp")+suffix;
                } else {
                    return this._("inject.timestamp")+suffix;
                }
            } else if (this.payloadType === 'flow' || this.payloadType === 'global') {
                var key = RED.utils.parseContextKey(this.payload);
                return this.payloadType+"."+key.key+suffix;
            } else {
                return this._("inject.inject")+suffix;
            }
        },
        labelStyle: function() {
            return this.name?"node_label_italic":"";
        },
        oneditprepare: function() {
            if (this.payloadType == null) {
                if (this.payload == "") {
                    this.payloadType = "date";
                } else {
                    this.payloadType = "str";
                }
            } else if (this.payloadType === 'string' || this.payloadType === 'none') {
                this.payloadType = "str";
            }
            $("#node-input-payloadType").val(this.payloadType);
            $("#node-input-payload").typedInput({
                default: 'str',
                typeField: $("#node-input-payloadType"),
                types:['flow','global','str','num','bool','json','msg','date','env']
            });

            $("#node-input-payload").typedInput('type',this.payloadType);

        },
        icon: "file.png",     // saved in  icons/myicon.png
        color: "#ff9900", 
        label: function() {
            return this.name || "logger";
        },
        paletteLabel: "Logger"
        
    });
</script>


<script type="text/x-red" data-template-name="logger">

    <!-- By convention, most nodes have a 'name' property. The following div -->
    <!-- provides the necessary field. Should always be the last option      -->
    <div class="form-row">
        <label for="node-input-name"><i class="fa fa-tag"></i> Name</label>
        <input type="text" id="node-input-name" placeholder="Name">
    </div>
    <div class="form-row">
		<label for="node-input-loglevel"><i class="fa fa-exclamation"></i> Level</label>
		<select type="text" id="node-input-loglevel" placeholder="Log Level">
			<option value="ERROR">ERROR</option>
			<option value="WARN">WARN</option>
			<option value="INFO">INFO</option>
			<option value="DEBUG">DEBUG</option>
			<option value="TRACE">TRACE</option>
		</select>
    </div>
    <div class="form-row">
        <label for="node-input-payload"><i class="fa fa-envelope"></i> Message</span></label>
        <input type="text" id="node-input-payload" style="width:70%">
        <input type="hidden" id="node-input-payloadType">
    </div>

    <div class="form-row">
        <label for="node-input-name"><i class="fa fa-tag"></i> Tracking </label>
        <input type="text" id="node-input-tracking" placeholder="tracking string">
    </div>

    <div class="form-row" style="border: 1px solid black; padding: 5px;">
        <label style="width: 28%;"><i class="fa fa-rocket"></i>Log transports</label>

        <input type="checkbox" id="node-input-console" placeholder="spawn" style="display: inline-block; width: auto; vertical-align: top;">
        <label for="node-input-console" style="width: 18%;"> Console</label>

        <input type="checkbox" id="node-input-debug" placeholder="spawn" style="display: inline-block; width: auto; vertical-align: top;">
        <label for="node-input-debug" style="width: 18%;"> Node logger</label>

    </div>

</script>


<!-- Next, some simple help text is provided for the node.                   -->
<script type="text/x-red" data-help-name="logger">

    <h3>Usage</h3>
    <p> A ser escrito ainda</p>
</script>

